<div id="<%= dom_id room %>">
  <p>
    <strong>Price per night:</strong>
    <%= room.price_per_night %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room.capacity %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= room.Booking %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= room.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= room.ends_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= room.User %>
  </p>

</div>
